*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 12px;
  }
}

.container {
  position: relative;
  width: 1440px;
  background-color: orangered;
}

.header {
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 300px;
}

@media only screen and (max-width: 530px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.view-option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 870px) {
  .view-option .grid {
    display: none;
  }
}

@media only screen and (max-width: 870px) {
  .view-option .column {
    display: none;
  }
}

.view-option button {
  background-color: blue;
  color: #fff;
  font-size: 20px;
  padding: 15px 40px;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  font-family: inherit;
  cursor: pointer;
}

.view-option button:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.view-option button:active {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

.modal-wrapper {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.801);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-wrapper {
  z-index: 1;
}

.modal {
  color: #fff;
  z-index: 2;
}

.modal__img {
  max-height: 70vh;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1160px) {
  .modal__img {
    max-width: 80vw;
  }
}

@media only screen and (max-width: 460px) {
  .modal__img {
    max-width: 100vw;
  }
}

.modal__info a {
  color: rgba(255, 255, 255, 0.603);
}

.modal__info a:hover {
  color: #fff;
}

.modal__info p {
  max-width: 1000px;
}

.modal__likes {
  margin: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.modal__likes svg {
  fill: #fff;
  margin-right: 10px;
}

.modal__user__portrait {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__user__portrait img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 10000px;
          border-radius: 10000px;
  margin-right: 10px;
}

.modal__user__portfolio a {
  color: rgba(255, 255, 255, 0.603);
}

.modal__user__portfolio a:hover {
  color: #fff;
}

.modal__user__links__link {
  color: rgba(255, 255, 255, 0.603);
  margin-right: 30px;
}

.modal__user__links__link:hover {
  color: #fff;
}

#loader {
  width: 100%;
}

#loader-circle {
  margin: 0 auto;
  border: 20px solid #f3f3f3;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border-top: 20px solid yellow;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
