*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;

    @media only screen and (max-width: 450px) {
        font-size: 12px;
    }
}